@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Mochiy+Pop+P+One&display=swap');

html,
a   {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
  }
body{
  height: 500px;
  width: 300px;
  text-align: center;
}
h1 {
    font-family: "Luckiest Guy";
    font-size: 30px;
    font-weight: 300;
    margin: 20px;
    color: #03BBFF;
    padding-bottom: 40px;
}
h2 {
    font-family: "Luckiest Guy";
    font-size: 30px;
    font-weight: 400;
    margin: 0;
    color: #03BBFF;
    text-align: center;
}
h5 {
    font-family: "Mochiy Pop P One";
    float: left;
    font-size: 30px;
    font-weight: 400;
    margin: 0;
    color: #03BBFF;
    width:200px;
}
h6 {
    font-family: "Mochiy Pop P One";
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    color: #2e77aa;
}
.toggler-container {
    width: 400px;
    height: 120px;
    margin: 20px;
    border-top:2px solid #97a9b6;
    border-bottom:2px solid #97a9b6;
    line-height: 120px;
}
.flex {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    opacity: 3;
    border: 5px outset rgb(0, 0, 0);
    transition: opacity 0.2s ease-in-out;
    width: 120px;
    border-radius: 5px;
    border-width: 2px;
    text-decoration: none;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    margin-top: 30px;
    float: right;
    width: 60px;
    height: 34px;;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  

  .counter{
    color: #F14997;
    background: linear-gradient(to right bottom,#fff 50%, #f9f9f9 51%);
    font-family: 'Comfortaa', cursive;
    text-align: center;
    width: 200px;
    padding: 10px 0 0;
    margin: 0 auto;
    border-radius: 50px 0;
    box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}
.counter .counter-icon{
    font-size: 15px;
    margin: 0 0 10px;
}
.counter h3{
    font-size: 10px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 0 0 20px;
}
.counter .counter-value{
    color: #fff;
    background: linear-gradient(to right bottom, #FD8ED2, #F14997);
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    padding: 7px 0 3px;
    display: block;
}
.counter.blue{ color: #0092CD; }
.counter.blue .counter-value{ background: linear-gradient(to right bottom, #06BBF4, #0092CD); }
.counter.orange{ color: #FB9A00; }
.counter.orange .counter-value{ background: linear-gradient(to right bottom, #FCCA09, #FB9A00); }
.counter.green{ color: #03BFB0; }
.counter.green .counter-value{ background: linear-gradient(to right bottom, #00E2CD, #03BFB0); }
@media screen and (max-width:990px){
    .counter{ margin-bottom: 40px; }
}